<!DOCTYPE html>

<html
        xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        layout:decorator="starter">

<body>

<div layout:fragment="body">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">hello there</h2>
        </div>
    </div>

    <form th:action="@{/download}" method="post">
        <button class="btn btn-primary">Download</button>
    </form>

</div>

</body>

</html>
